import { defineConfig } from 'vite'
import react from '@vitejs/plugin-react-swc'
import { resolve } from 'node:path'

// CI上＝Actions上だけ /<repo>/ に、自動フォールバック
const repo = process.env.GITHUB_REPOSITORY?.split('/')[1] ?? ''
const ciBase = process.env.GITHUB_ACTIONS ? `/${repo}/` : '/'
const base = process.env.BASE_PATH || ciBase

export default defineConfig({
  define: {
    __BASE_PATH__: JSON.stringify(base),
    __IS_PREVIEW__: JSON.stringify(!!process.env.IS_PREVIEW)
  },
  plugins: [react()],
  base,
  build: { sourcemap: true, outDir: 'out' },
  resolve: { alias: { '@': resolve(__dirname, './src') } },
  server: { port: 3000, host: '0.0.0.0' }
})
